---
Checks:          '*'
WarningsAsErrors: '*'
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*[/\\]3rdparty[/\\].*'
FormatStyle:     none
CheckOptions:    {}
SystemHeaders:   false
...
