---
Checks:          '*,-llvmlibc-restrict-system-libc-headers,-llvmlibc-implementation-in-namespace,-llvm-prefer-static-over-anonymous-namespace,-modernize-use-trailing-return-type,-llvmlibc-callee-namespace,-portability-avoid-pragma-once,-llvm-header-guard,-altera-struct-pack-align,-llvmlibc-inline-function-decl,-boost-use-ranges'
WarningsAsErrors: '*'
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*[/\\]3rdparty[/\\].*'
FormatStyle:     none
CheckOptions:    {}
SystemHeaders:   false
...
